@import '../../../../styles';

::ng-deep {
  .owl-nav {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0.5rem;
    display: flex !important;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 0.5rem;
  }
}

::ng-deep {
  .owl-prev {
    background-color: $main-color !important;
    border-radius: 50% !important;
    width: 1.875rem !important;
    height: 1.875rem !important;
  }
  .owl-next {
    background-color: $main-color !important;
    border-radius: 50% !important;
    width: 1.875rem !important;
    height: 1.875rem !important;
  }
}

@media (max-width: 900px) {
  ::ng-deep .owl-nav {
    right: 6px;
  }
}
@media (max-width:730px) {
  ::ng-deep .owl-nav {
    right: 3px;
  }
}
@media (max-width: 632px) {
  ::ng-deep .owl-nav {
    right: 0px;
  }
}
@media (max-width: 631px) and (min-width: 530px) {
  .carousal-img {
    padding-inline: 1.875rem !important;
  }
}
